<div class="post-card my-5" id="{{id}}">
    <h3 class="post-header" id="commentUser{{user_id}}">{{user.username}}</h3>
    <p class="p-3" id="commentContent">{{comment}}</p>
    <footer class="p-3">
        <p>Date created: {{createdAt}}</p>
    </footer>
</div>